.programming {
  padding-top: 5.3em;
  padding-bottom: 8em;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 1.875em;
    margin-bottom: 2.83em;
  }

  .events-table {
    text-align: left;
    width: 100%;
    display: inline-block;

    .feature {
      display: table;
      width: 100%;
    }

    .title {
      display: inline-block;
      width: 100%;
      padding-bottom: .5em;
      font-weight: 700;
      text-transform: none;
      border-bottom: solid 1px #ddd;
      margin: 0;
    }

    .time, .event {
      display: table-cell;
      vertical-align: middle;
    }

    .time {
      width: 25%;

      time {
        font-weight: 700;
        font-size: 1.66em;
      }
    }

    .event {
      width: 75%;

      .header, .description {
        font-weight: 600;
      }

      .header {
        margin: 0;
        font-size: 1.125em;
        margin: 0 0 0.1em 0;
      }

      .description {
        font-size: 0.925em;
        color: #2f2e2e;
      }
    }

    tr, tbody {
      display: inline-block;
      width: 100%;

      td {
        padding: 2em 20px;
      }
    }
  }
}
