.programming {
  padding-top: 5.3em;
  padding-bottom: 8em;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 1.875em;
    margin-bottom: 2.83em;
  }

  .events-table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 40px;
    width: 100%;

    .title {
      padding-bottom: .5em;
      font-weight: 700;
      text-transform: none;
      border-bottom: solid 1px #ddd;
      margin: 0;
    }

    .time {
      width: 8em;

      time {
        font-weight: 700;
        font-size: 1.66em;
      }
    }

    .header, .description {
      font-weight: 600;
    }

    .header {
      margin: 0;
      font-size: 1.125em;
      margin: 0 0 0.1em 0;
    }

    .description {
      font-size: 0.925em;
      color: #2f2e2e;
    }

    tr {
      td {
        min-width: 100px;
        padding: 2em 20px;

        &:nth-child(1n+3) {
        }
      }
    }
  }
}
