.speakers {
  padding-top: 5.3em;
  padding-bottom: 5.3em;
  text-align: center;
  background: #f4f4f4;

  .title {
    text-transform: uppercase;
    font-size: 1.875em;
    margin-bottom: 2.83em;
  }
}
