<!doctype html>
<html ng-app="agileVale" class="no-js" ng-controller="ConferenceCtrl">
<head>
  <meta charset="utf-8">
  <title>{{conference.name}} {{conference.slogan}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->

      <div class="main">
        <header class="main-header">
          <article class="row">
            <img src="images/logo.svg" alt="Agile Vale 2014" class="logo">

            <h1 class="main-title">{{conference.name}}</h1>

            <a ng-href="{{conference.eventick}}" class="register-btn">Inscreva-se</a>
          </article>

          <address class="address">
            <time>{{conference.date.formated | date:'dd MMM'}}, {{conference.place}} - {{conference.city}}</time>
          </address>
        </header>

        <section class="photos"></section>

        <section class="speakers" ng-hide="conference.release">
          <article class="row">
            <h1 class="title">PALESTRANTES</h1>

            <div class="col-md-4 flip-container" ng-repeat="speaker in conference.speakers">
              <div class="flipper">
                <div class="front">
                  <img ng-src="{{speaker.photos.medium}}" alt="Palestrante">
                </div>
                <div class="back">
                  <h1 class="speaker-name">{{speaker.name}}</h1>
                  <span class="speaker-role">{{speaker.title}}</span>
                  <p class="speaker-description">{{speaker.bio}}</p>
                </div>
              </div>
            </div>


          </article>
        </section>

        <section class="programming" ng-hide="conference.release">

          <h1>PROGRAMAÇÃO</h1>

          <article class="row" ng-repeat="days in conference.schedules">

            <table class="events-table" ng-repeat="(day,schedules) in days" cellpadding="0" cellspacing="0">

              <tr class="feature" ng-repeat="schedule in schedules">

                <td class="time">
                  <time>{{timeOf(schedule)}}</time>
                </td>
                <td class="event" ng-repeat="talks in schedule">
                <ul class="schedule-list">
                    <li ng-repeat="talk in talks | orderBy:'room'">
                      <h2 class="header">
                        <span class="talk-title">{{talk.title}}</span>
                        <span class="room" ng-show="{{talk.room}}"> {{talk.room}} </span>
                        <span class="speaker" ng-repeat="speaker in talk.speakers">
                          {{speaker.name }}, {{speaker.title}}
                        </span>
                      </h2>
                      <span class="description">{{talk.description}}</span>
                    </li>
                  </ul>
                </td>
              </tr>

            </table>

          </article>


        </section>

        <section class="local" ng-hide="true">
          <div class="bg-image"></div>

          <article class="row">
            <img src="images/foto-hotel.jpg" alt="Faro Hotel" class="faro-hotel">

            <address class="event-address">
              <p>O evento vai ser realizado no <span>{{conference.place}} em {{conference.city}} </span></p>
            </address>

            <a href="#" class="more-info">Saiba mais</a>
          </article>
        </section>

        <section class="sponsors" ng-hide="conference.release">
          <article class="row">
            <h1>PATROCINADORES</h1>

            <div ng-repeat="sponsorship in conference.sponsorships">
              <div class="col-md-4" ng-show="sponsorship.sponsors">
                <h2 class="title support-title">{{sponsorship.name}}</h2>
                <div class="sponsor" ng-repeat="sponsor in sponsorship.sponsors">
                  <a ng-href="{{sponsor.website}}" target="_blannk"><img ng-src="{{sponsor.logo.thumb}}" alt="{{sponsor.name}}" class="sponsor-logo"></a>
                </div>
              </div>
            </div>

          </article>
        </section>

        <footer class="main-footer">
          <p class="copyright">© Copyright 2014 - todos os direitos reservados</p>
        </footer>
      </div>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!--  <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script> -->

     <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/designa-events.js"></script>
    <script src="scripts/controllers/conference.js"></script>
    <!-- endbuild -->
  </body>
  </html>
